body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #canvas {

    border: white solid 10px;
    height: 400px;
    width: 550px;
    position: absolute;
    top: 220px;
  }
#scoreBoard {
  border: white solid 10px;
  height: 200px;
  width: 23%;
position: relative;

}

#resetBoard {

  border: white solid 10px;
  height: 200px;
  width: 15%;
position: relative;

}
button {
  background: green;
}
