body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #canvas {

    border: white solid 10px;
    height: 608px;
    width: 608px;
    position: absolute;
    top: 210px;
  }
#scoreBoard {
  border: white solid 10px;
  height: 200px;
  width: 408px;
position: relative;

}

#resetBoard {

  border: white solid 10px;
  height: 200px;
  width: 180px;
position: relative;

}
button {
  background: green;
}
